<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 알리아스 설정해뒀을 경우 각 개발자들끼리 충돌날 위험 있음 -->
<configuration>
	<settings>
	<!-- mybatis를 이용하여 VO에 리턴값을 받을때 카멜케이스 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	<!--쿼리 결과 필드가 null인 경우, 누락이 되서 나오는데 누락이 안되게 하는 설정 -->
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
</configuration>